*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Quicksand', sans-serif;
    overflow: hidden;
}

section{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    padding: 0 40px;
    align-items: center;
}

.contenedor-texto{
    text-align: center;
}

section h2{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 5px;
}

section p{
    font-weight: 300;
    margin-bottom: 15px;
}

section a{
    display: inline-block;
    padding: 7px;
    color: #283763;
    text-decoration: none;
    width: 50px;
    height: 50px;
    text-align: center;
    border: 1px solid white;
    border-radius: 100%;
    background: white;
}


section img{
    height: 60%;
    width: 100%;
}

i{
    margin-top: 10px;
}

section:nth-child(1){
    background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);

}

section:nth-child(2){
    background: #EF3B36;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #EF3B36);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #EF3B36); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

}

section:nth-child(3){
    background-image: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
}

section:nth-child(4){
    background-image: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);

}

section:nth-child(5){
    background: #4AC29A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BDFFF3, #4AC29A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

}

@media screen and (max-width:1000px){
    section{
        flex-direction: column-reverse;
        height: 100vh;     
    }
    
    .contenedor-texto{
        text-align: center;
        height: 100vh;
    }

}

/*Mensaje*/

.contenedor-mensaje{
    padding: 0 4%;
    
}

.contenedor-mensaje p{
    font-weight: 600;
    text-align: center;
    font-size:medium;
    
}

.att{
    /* display: block; */
    font-size: 10;
    text-align: end;
}

.titulo-mensaje{
    font-size: 5px;
}

.mensaje h1{
    font-size: 17px;
}

#sec6{
    padding: 0 13px;
    vertical-align: middle;
}

.icono-mensaje{
    text-align: end;
}

.icono{
    color: #a8c0ff;
}

@media screen and (max-width:455px){
    .contenedor-mensaje{
        padding: 0 1px;
    }

    .contenedor-mensaje p{
        font-weight: 600;
        text-align: center;
        font-size: 13px;
    }

    .mensaje h1{
        font-size: 14px;
    }
}