*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background: #a8c0ff;  
    background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);  
    background: linear-gradient(to right, #3f2b96, #a8c0ff); 
    position: relative;
    height: 50vh;
    text-align: center;
}

.container-btn a{
    text-decoration: none;
    padding: 0;
}
.icono{
    font-size: 300px;
    text-decoration: none;
    color:      #a8c0ff ; 
    margin: 180px 0;
    height: 25%;
}


