html {
    box-sizing: border-box;
}

*,
:before,
:after {
    box-sizing: inherit;
}
audio{
    opacity: 50%;
    
    margin-left: 40%;
    width: 30%;
}
body {
    margin: 0;
    padding: 0;
    background-color: #a5dcfa;
    font-size: 12px;
    overflow: auto;
}

#letter-div {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    display:block;
}

#story-div {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    display:none;
}

#memory-div {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    display:none;
    background-color: yellow;
}

#navigation{
    position: fixed;
    right:10px;
    bottom: 35px;
    width: fit-content;
    height:fit-content;
    background-color: transparent;
}

#letter-button{
    display:none;
}

#letter-button, #our-story-button {
    color: #FFFFFF;
    background: #F32C52;
}

.button {
    display: flex;
    overflow: hidden;
  
    margin: 10px;
    padding: 12px 12px;
  
    cursor: pointer;
    user-select: none;
    transition: all 150ms linear;
    text-align: center;
    white-space: nowrap;
    text-decoration: none !important;
    text-transform: none;
    text-transform: capitalize;
  
    color: #fff;
    border: 0 none;
    border-radius: 36px;
  
    font-size: 13px;
    font-weight: 500;
    line-height: 1.3;
  
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
   
    justify-content: center;
    align-items: center;
    flex: 0 0 160px;
    
    box-shadow: 2px 5px 10px #e4e4e4;
  }
  
  .button:hover {
    transition: all 150ms linear;

    opacity: .85;
  }
  
  .button:active {
    transition: all 150ms linear;
    opacity: .75;
  }
  
  .button:focus {
    outline: 1px dotted #959595;
    outline-offset: -4px;
  }

#content {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    width:100%;
    height: auto;
}
#loveHeart {
    width: 650px;
    height: 625px;
    position: relative;
}

#garden {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}

#elapseClock {
    text-align: right;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px
}

#words {
    font-family: 'Great Vibes', Helvetica, sans-serif;
    width: 500px;
    font-size: 2em;
    position: absolute;
    top: 190px;
    left: 70px;
    color: #000;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
}

#messages {
    display: none
}

#elapseClock .digit {
    font-family: "digit";
    font-size: 36px
}

#love-u {
    padding: 5px;
    font-size: 22px;
    margin-top: 80px;
    margin-right: 120px;
    text-align: right;
    display: none
}

#love-u .signature {
    margin-top: 10px;
    font-size: 20px;
    font-style: italic
}

#clickSound {
    display: none
}

#footer {
    position: fixed;
    bottom: 10px;
    text-align: right;
    width: 100%;
    color: #666;
    margin-right:15px;
}

#note {
    float: left;
    width: 400px;
    height: 430px;
    color: #333;
    font-family: 'Delius Swash Caps', Helvetica, Sans-serif;
    font-size: 1.3em;
    font-weight: 100;
    line-height: 20px;
    background-color: #F0F8FF ;
    padding:10px;
    padding-left:20px;
    margin-right: 30px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}

#note:after {
    content: "";
    height: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    border: solid;
    border-width: 0 0 30px 30px;
    border-color: transparent transparent #e7e3f2 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6), -2px 2px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6), -2px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6), -2px 2px 2px rgba(0, 0, 0, 0.3);
    /* Firefox 3.0 damage limitation */
    display: block;
    width: 0;
}

#note .string {
    color: #2a36ff
}

#note .keyword {
    color: #7f0055;
    font-weight: bold
}

#note .placeholder {
    margin-left: 15px
}

#note .space {
    margin-left: 7px
}

#note .comments {
    color: #3f7f5f
}

#errorMsg {
    width: 100%;
    text-align: center;
    font-size: 24px;
    position: absolute;
    top: 100px;
    left: 0
}

@media screen and (max-width: 767px) {
    #note {
        float:none;
        width: 94%;
        height: 480px;
        margin: 50px auto;
    }

    #loveHeart {
        width:100%;
        margin-top: 50px;
        margin-bottom: 50px;
        display: none;
    }

    #words {
        width: 100%;
        left: 0;
        top: 100px;
        font-size: 1.5em;
    }

    #elapseClock {
        text-align: center;
    }

    #messages {
        text-align: center;
    }

    #love-u {
        margin: 30px auto;
        text-align: center;
    }
}

@media (max-width: 320px){
    #note {
        float:none;
        width: 94%;
        height: 500px;
        margin: 50px auto;
    }

    #loveHeart {
        width:100%;
        margin-top: 50px;
        margin-bottom: 50px;
        display: none;
    }

    #elapseClock .digit {
        font-size: 20px
    }

    #words {
        width: 100%;
        left: 0;
        top: 80px;
        font-size: 1.5em;
    }

    #elapseClock {
        text-align: center;
    }

    #messages {
        text-align: center;
    }

    #love-u {
        margin: 30px auto;
        font-size: 0.8em;
        text-align: center;
    }
}