html { 
    height: 100% 
}
body { 
    height: 100%; 
    margin: 0; 
    padding: 0;
    background-color: #F0DADA;
}
#map_canvas { 
    height: 100% 
}
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -80px;
}
#curtain{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0px;
    z-index: 99999;
    background-color: #F0DADA;
}
#end_text{
    z-index:999999; 
    font-size: 40px;
    left: auto;
    margin-left: 20%;
    margin-right: 20%;
    line-height: normal;
    text-align: center;
}

