*{
    margin: 0;
    padding: 0;
}

body{
    background: #302929;
}

.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mail{
    width: 300px;
    height: 200px;
    background: #ff8789;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    transform-style: preserve-3d;
    cursor: pointer;
}

.mail:before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid #ff393c;
    border-top: 100px solid transparent;
    border-bottom: 100px solid #ff393c;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 5;
}

.mail:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-left: 150px solid #ff5355;
    border-right: 150px solid transparent;
    border-top: 100px solid transparent;
    border-bottom: 100px solid #ff5355;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 4;
}

.cover::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-top: 100px solid #ff8789;
    border-bottom: 100px solid transparent;
    z-index: 6;
    transform-origin: top;
    transform: rotateX(0deg);
    transition: all 0.5s ease;
}

.letter{
    position: absolute;
    z-index: 3;
    top: 0px;
    left: 10px;
    background: #dedede;
    width: 280px;
    height: 180px;
    border-radius: 20px;
    transition: all 1s ease;
}

.letter h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: #798992;
    font-weight: 900;
}
.mail:hover .letter{
    top: -80px;
    transition: all 1s 1s ease;
}
.mail:hover .cover::before{
    transform: rotateX(180deg);
    transition: all 1s ease;
}