:root {
  --margin-line: #941c5a;
  --lines: #1d97b8;
}

html,
body {
  background-color: #eee;
  width: 100%;
  height: 100%;
}

.paper {
  width: 70%;
  height: 100%;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.05em, var(--lines)), color-stop(0.05em, transparent));
  background-image: linear-gradient(var(--lines) 0.05em, transparent 0.05em);
  background-size: 100% 2em;
  position: relative;
  -webkit-box-shadow: 15px 15px 33px rgba(27, 27, 27, 0.1);
          box-shadow: 15px 15px 33px rgba(27, 27, 27, 0.1);
}

.paper:before, .paper:after {
  content: "";
  position: absolute;
  top: 0;
}

.paper:before {
  height: 100%;
  width: 2px;
  background-color: var(--margin-line);
  left: 4em;
  z-index: 2;
}

.paper:after {
  height: 6em;
  width: 100%;
  background-color: #fff;
  left: 0;
  z-index: 1;
}

.paper .holes {
  background-color: #eee;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: block;
  z-index: 10;
  margin-left: 1em;
  margin-top: 6em;
}

.paper .holes:before, .paper .holes:after {
  content: "";
  width: 35px;
  height: 35px;
  background-color: #eee;
  position: absolute;
  border-radius: 50%;
}

.paper .holes:before {
  top: 50%;
}

.paper .holes:after {
  top: calc(100% - 6em);
}

textarea {
  position: absolute;
  top: 6rem;
  left: 4rem;
  width: calc(100% - 5rem);
  height: calc(100% - 7rem);
  background-color: transparent;
  border: none;
  font-family: "Comic Sans";
  font-size: 2rem;
  line-height: 1;
  padding-left: 1rem;
  margin: 0;
  resize: none;
}

.triangle {
  height: 40px;
  background: red;
  color: #fff;
  position: relative;
  width: 200px;
  text-align: center;
  line-height: 40px;
}

.triangle:after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  left: 100%;
  top: 0;
  border: 20px solid transparent;
  border-left: 20px solid red;
}
/*# sourceMappingURL=styleLetter.css.map */
