.green-audio-player{
    width: 30%;
    
}
.green-audio-player .slider .gap-progress {
    background-color:fuchsia;

    }

.green-audio-player .slider .gap-progress .pin {
        background-color: fuchsia;
     }