html, body {
    height: 100%;
    margin: 0;
  }
  body {
    -ms-flex-align: center;
    align-items: center;
    background: #eee;
    display: -ms-flexbox;
    display: flex;
    font: 16px/1.1 "Montserrat", sans-serif;
  }
  .vcard,
  .envelope1 {
    background: #fff;
    box-shadow: 0 8px 3px -1px rgba(0, 0, 0, .7);
    height: 18em;
    margin: 0 auto;
    padding: 2em;
    position: relative;
    width: 14em;
  }
  .envelope1 {
    background: #cb231c;
    box-shadow: 0 3px 2px rgba(0, 0, 0, .8);
    margin: -2em -2em;
    position: absolute;
    transform: rotate(-8deg);
    z-index: -1;
  }
  
  .envelope2 {
    background: #fff;
    box-shadow: 0 8px 3px -1px rgba(0, 0, 0, .7);
    height: 18em;
    margin: 0 auto;
    padding: 2em;
    position: relative;
    width: 14em;
  }
  .envelope2 {
    background: #d81a73;
    box-shadow: 0 3px 2px rgba(0, 0, 0, .8);
    margin: -2em -2em;
    position: absolute;
    transform: rotate(-18deg);
    z-index: -2;
  }
  
  .envelope3 {
    background: #fff;
    box-shadow: 0 8px 3px -1px rgba(0, 0, 0, .7);
    height: 18em;
    margin: 0 auto;
    padding: 2em;
    position: relative;
    width: 14em;
  }
  .envelope3 {
    background: #db18ad;
    box-shadow: 0 3px 2px rgba(0, 0, 0, .8);
    margin: -2em -2em;
    position: absolute;
    transform: rotate(-28deg);
    z-index: -3;
  }
  
  h1 {
    font-size: 2.2em;
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
    width: 90%;
  }
  em {
    color: #cc2119;
    font-style: normal;
  }
  .corazon {
    position: absolute;
    bottom: 3.5em;
    right: 4em;
  }
  .corazon:before,
  .corazon:after {
    background: #cd231b;
    border-radius: 50px 50px 0 0;
    content: "";
    height: 25px;
    left: 15px;
    position: absolute;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    width: 15px;
  }
  .corazon:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
  }
  .green-audio-player{
    width: 30%;
    
}

.green-audio-player .slider .gap-progress {
    background-color:fuchsia;

    }

.green-audio-player .slider .gap-progress .pin {
        background-color: fuchsia;
     }