/* ================
// Settings
// ============= */
/* ================
// Love Letters
// ============= */
.love {
    position: relative;
    margin-bottom: 6em;
    padding-top: 4em;
    text-align: center;
  }
  @media (min-width: 600px) {
    .love {
      left: 50%;
      margin-bottom: 0;
      margin-left: -9.375em;
      padding-top: 10em;
      transform: translate(-50%, 0);
    }
  }
  
  .letter {
    top: 0;
    left: 0;
    display: inline-block;
    font-size: 4vmin;
    text-shadow: 0 0 0.25em red, 0 0 0.35em red, 0 0 0.45em transparent, 0 0 0.55em transparent, 0 0 0.65em transparent;
  }
  @media (min-width: 600px) {
    .letter {
      offset-distance: 0;
      offset-path: path("m0, 0 c100, -150 200, -150 300, 0");
    }
  }
  .letter:nth-child(1) {
    -webkit-animation: twinkle 2.7s infinite 2.7s;
            animation: twinkle 2.7s infinite 2.7s;
    offset-distance: 5.5555555556%;
  }
  .letter:nth-child(2) {
    -webkit-animation: twinkle 2.7s infinite 2.4s;
            animation: twinkle 2.7s infinite 2.4s;
    offset-distance: 11.1111111111%;
  }
  .letter:nth-child(3) {
    -webkit-animation: twinkle 2.7s infinite 2.7s;
            animation: twinkle 2.7s infinite 2.7s;
    offset-distance: 16.6666666667%;
  }
  .letter:nth-child(4) {
    -webkit-animation: twinkle 2.7s infinite 0.15s;
            animation: twinkle 2.7s infinite 0.15s;
    offset-distance: 22.2222222222%;
  }
  .letter:nth-child(5) {
    -webkit-animation: twinkle 2.7s infinite 2.7s;
            animation: twinkle 2.7s infinite 2.7s;
    offset-distance: 27.7777777778%;
  }
  .letter:nth-child(6) {
    -webkit-animation: twinkle 2.7s infinite 1.8s;
            animation: twinkle 2.7s infinite 1.8s;
    offset-distance: 33.3333333333%;
  }
  .letter:nth-child(7) {
    -webkit-animation: twinkle 2.7s infinite 0.75s;
            animation: twinkle 2.7s infinite 0.75s;
    offset-distance: 38.8888888889%;
  }
  .letter:nth-child(8) {
    -webkit-animation: twinkle 2.7s infinite 1.35s;
            animation: twinkle 2.7s infinite 1.35s;
    offset-distance: 44.4444444444%;
  }
  .letter:nth-child(9) {
    -webkit-animation: twinkle 2.7s infinite 2.4s;
            animation: twinkle 2.7s infinite 2.4s;
    offset-distance: 50%;
  }
  .letter:nth-child(10) {
    -webkit-animation: twinkle 2.7s infinite 0.15s;
            animation: twinkle 2.7s infinite 0.15s;
    offset-distance: 55.5555555556%;
  }
  .letter:nth-child(11) {
    -webkit-animation: twinkle 2.7s infinite 1.2s;
            animation: twinkle 2.7s infinite 1.2s;
    offset-distance: 61.1111111111%;
  }
  .letter:nth-child(12) {
    -webkit-animation: twinkle 2.7s infinite 1.35s;
            animation: twinkle 2.7s infinite 1.35s;
    offset-distance: 66.6666666667%;
  }
  .letter:nth-child(13) {
    -webkit-animation: twinkle 2.7s infinite 1.35s;
            animation: twinkle 2.7s infinite 1.35s;
    offset-distance: 72.2222222222%;
  }
  .letter:nth-child(14) {
    -webkit-animation: twinkle 2.7s infinite 1.95s;
            animation: twinkle 2.7s infinite 1.95s;
    offset-distance: 77.7777777778%;
  }
  .letter:nth-child(15) {
    -webkit-animation: twinkle 2.7s infinite 1.35s;
            animation: twinkle 2.7s infinite 1.35s;
    offset-distance: 83.3333333333%;
  }
  .letter:nth-child(16) {
    -webkit-animation: twinkle 2.7s infinite 1.65s;
            animation: twinkle 2.7s infinite 1.65s;
    offset-distance: 88.8888888889%;
  }
  .letter:nth-child(17) {
    -webkit-animation: twinkle 2.7s infinite 2.4s;
            animation: twinkle 2.7s infinite 2.4s;
    offset-distance: 94.4444444444%;
  }
  .letter:nth-child(18) {
    -webkit-animation: twinkle 2.7s infinite 0.15s;
            animation: twinkle 2.7s infinite 0.15s;
    offset-distance: 100%;
  }
  .letter:empty {
    padding: 0 0.2em;
  }
  
  @-webkit-keyframes twinkle {
    50% {
      text-shadow: 0 0 0.25em red, 0 0 0.35em red, 0 0 0.45em red, 0 0 0.55em red, 0 0 0.65em red;
    }
  }
  
  @keyframes twinkle {
    50% {
      text-shadow: 0 0 0.25em red, 0 0 0.35em red, 0 0 0.45em red, 0 0 0.55em red, 0 0 0.65em red;
    }
  }
  /* ================
  // Roses
  // ============= */
  .roses {
    position: relative;
    height: 50vmin;
    width: 100%;
    -webkit-animation: grow 10s forwards;
            animation: grow 10s forwards;
    transform: rotate(-180deg);
  }
  
  @-webkit-keyframes grow {
    100% {
      transform: rotate(15deg);
    }
  }
  
  @keyframes grow {
    100% {
      transform: rotate(15deg);
    }
  }
  .rose {
    position: absolute;
    top: 50%;
    left: 50%;
    perspective: 50em;
    transform: translate(-50%, -50%) rotate(-25deg);
    transform-style: preserve-3d;
  }
  .rose:nth-child(1) {
    z-index: 6;
    height: 6.7vmin;
    width: 6.7vmin;
  }
  .rose:nth-child(2) {
    z-index: 5;
    height: 11.75vmin;
    width: 11.75vmin;
  }
  .rose:nth-child(3) {
    z-index: 4;
    height: 12.2vmin;
    width: 12.2vmin;
  }
  .rose:nth-child(4) {
    z-index: 3;
    height: 17.4vmin;
    width: 17.4vmin;
  }
  .rose:nth-child(5) {
    z-index: 2;
    height: 20.65vmin;
    width: 20.65vmin;
  }
  .rose:nth-child(6) {
    z-index: 1;
    height: 25.05vmin;
    width: 25.05vmin;
  }
  .rose:nth-child(7) {
    z-index: 0;
    height: 31.8vmin;
    width: 31.8vmin;
  }
  
  .pedal {
    position: absolute;
    bottom: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    transform-origin: center 100%;
  }
  .pedal:before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
    border-radius: 0.35em 50% 35% 50%;
    transform: rotate(45deg);
  }
  .pedal:nth-child(1) {
    transform: translate(-50%, 0) rotateZ(51.4285714286deg) rotateX(-70deg) rotateY(8deg) scale(0);
  }
  .rose:nth-child(1) .pedal:nth-child(1) {
    -webkit-animation: flower-1 10s forwards 2.7s;
            animation: flower-1 10s forwards 2.7s;
  }
  .rose:nth-child(1) .pedal:nth-child(1):before {
    background: #b20000;
  }
  .rose:nth-child(1) .pedal:nth-child(2) {
    -webkit-animation: flower-2 10s forwards 2.7s;
            animation: flower-2 10s forwards 2.7s;
  }
  .rose:nth-child(1) .pedal:nth-child(2):before {
    background: #fa0000;
  }
  .rose:nth-child(1) .pedal:nth-child(3) {
    -webkit-animation: flower-3 10s forwards 2.7s;
            animation: flower-3 10s forwards 2.7s;
  }
  .rose:nth-child(1) .pedal:nth-child(3):before {
    background: #a00000;
  }
  .rose:nth-child(1) .pedal:nth-child(4) {
    -webkit-animation: flower-4 10s forwards 2.7s;
            animation: flower-4 10s forwards 2.7s;
  }
  .rose:nth-child(1) .pedal:nth-child(4):before {
    background: #ab0000;
  }
  .rose:nth-child(1) .pedal:nth-child(5) {
    -webkit-animation: flower-5 10s forwards 2.7s;
            animation: flower-5 10s forwards 2.7s;
  }
  .rose:nth-child(1) .pedal:nth-child(5):before {
    background: #940000;
  }
  .rose:nth-child(1) .pedal:nth-child(6) {
    -webkit-animation: flower-6 10s forwards 2.7s;
            animation: flower-6 10s forwards 2.7s;
  }
  .rose:nth-child(1) .pedal:nth-child(6):before {
    background: #a90000;
  }
  .rose:nth-child(1) .pedal:nth-child(7) {
    -webkit-animation: flower-7 10s forwards 2.7s;
            animation: flower-7 10s forwards 2.7s;
  }
  .rose:nth-child(1) .pedal:nth-child(7):before {
    background: #b40000;
  }
  .pedal:nth-child(2) {
    transform: translate(-50%, 0) rotateZ(102.8571428571deg) rotateX(-70deg) rotateY(8deg) scale(0);
  }
  .rose:nth-child(2) .pedal:nth-child(1) {
    -webkit-animation: flower-1 10s forwards 2.25s;
            animation: flower-1 10s forwards 2.25s;
  }
  .rose:nth-child(2) .pedal:nth-child(1):before {
    background: #f70000;
  }
  .rose:nth-child(2) .pedal:nth-child(2) {
    -webkit-animation: flower-2 10s forwards 2.25s;
            animation: flower-2 10s forwards 2.25s;
  }
  .rose:nth-child(2) .pedal:nth-child(2):before {
    background: #bf0000;
  }
  .rose:nth-child(2) .pedal:nth-child(3) {
    -webkit-animation: flower-3 10s forwards 2.25s;
            animation: flower-3 10s forwards 2.25s;
  }
  .rose:nth-child(2) .pedal:nth-child(3):before {
    background: #ca0000;
  }
  .rose:nth-child(2) .pedal:nth-child(4) {
    -webkit-animation: flower-4 10s forwards 2.25s;
            animation: flower-4 10s forwards 2.25s;
  }
  .rose:nth-child(2) .pedal:nth-child(4):before {
    background: #ab0000;
  }
  .rose:nth-child(2) .pedal:nth-child(5) {
    -webkit-animation: flower-5 10s forwards 2.25s;
            animation: flower-5 10s forwards 2.25s;
  }
  .rose:nth-child(2) .pedal:nth-child(5):before {
    background: #be0000;
  }
  .rose:nth-child(2) .pedal:nth-child(6) {
    -webkit-animation: flower-6 10s forwards 2.25s;
            animation: flower-6 10s forwards 2.25s;
  }
  .rose:nth-child(2) .pedal:nth-child(6):before {
    background: #9c0000;
  }
  .rose:nth-child(2) .pedal:nth-child(7) {
    -webkit-animation: flower-7 10s forwards 2.25s;
            animation: flower-7 10s forwards 2.25s;
  }
  .rose:nth-child(2) .pedal:nth-child(7):before {
    background: #fd0000;
  }
  .pedal:nth-child(3) {
    transform: translate(-50%, 0) rotateZ(154.2857142857deg) rotateX(-70deg) rotateY(8deg) scale(0);
  }
  .rose:nth-child(3) .pedal:nth-child(1) {
    -webkit-animation: flower-1 10s forwards 1.8s;
            animation: flower-1 10s forwards 1.8s;
  }
  .rose:nth-child(3) .pedal:nth-child(1):before {
    background: #e10000;
  }
  .rose:nth-child(3) .pedal:nth-child(2) {
    -webkit-animation: flower-2 10s forwards 1.8s;
            animation: flower-2 10s forwards 1.8s;
  }
  .rose:nth-child(3) .pedal:nth-child(2):before {
    background: #c70000;
  }
  .rose:nth-child(3) .pedal:nth-child(3) {
    -webkit-animation: flower-3 10s forwards 1.8s;
            animation: flower-3 10s forwards 1.8s;
  }
  .rose:nth-child(3) .pedal:nth-child(3):before {
    background: #c40000;
  }
  .rose:nth-child(3) .pedal:nth-child(4) {
    -webkit-animation: flower-4 10s forwards 1.8s;
            animation: flower-4 10s forwards 1.8s;
  }
  .rose:nth-child(3) .pedal:nth-child(4):before {
    background: #950000;
  }
  .rose:nth-child(3) .pedal:nth-child(5) {
    -webkit-animation: flower-5 10s forwards 1.8s;
            animation: flower-5 10s forwards 1.8s;
  }
  .rose:nth-child(3) .pedal:nth-child(5):before {
    background: #bc0000;
  }
  .rose:nth-child(3) .pedal:nth-child(6) {
    -webkit-animation: flower-6 10s forwards 1.8s;
            animation: flower-6 10s forwards 1.8s;
  }
  .rose:nth-child(3) .pedal:nth-child(6):before {
    background: #dd0000;
  }
  .rose:nth-child(3) .pedal:nth-child(7) {
    -webkit-animation: flower-7 10s forwards 1.8s;
            animation: flower-7 10s forwards 1.8s;
  }
  .rose:nth-child(3) .pedal:nth-child(7):before {
    background: #a80000;
  }
  .pedal:nth-child(4) {
    transform: translate(-50%, 0) rotateZ(205.7142857143deg) rotateX(-70deg) rotateY(8deg) scale(0);
  }
  .rose:nth-child(4) .pedal:nth-child(1) {
    -webkit-animation: flower-1 10s forwards 1.35s;
            animation: flower-1 10s forwards 1.35s;
  }
  .rose:nth-child(4) .pedal:nth-child(1):before {
    background: #b90000;
  }
  .rose:nth-child(4) .pedal:nth-child(2) {
    -webkit-animation: flower-2 10s forwards 1.35s;
            animation: flower-2 10s forwards 1.35s;
  }
  .rose:nth-child(4) .pedal:nth-child(2):before {
    background: #f60000;
  }
  .rose:nth-child(4) .pedal:nth-child(3) {
    -webkit-animation: flower-3 10s forwards 1.35s;
            animation: flower-3 10s forwards 1.35s;
  }
  .rose:nth-child(4) .pedal:nth-child(3):before {
    background: #970000;
  }
  .rose:nth-child(4) .pedal:nth-child(4) {
    -webkit-animation: flower-4 10s forwards 1.35s;
            animation: flower-4 10s forwards 1.35s;
  }
  .rose:nth-child(4) .pedal:nth-child(4):before {
    background: #f80000;
  }
  .rose:nth-child(4) .pedal:nth-child(5) {
    -webkit-animation: flower-5 10s forwards 1.35s;
            animation: flower-5 10s forwards 1.35s;
  }
  .rose:nth-child(4) .pedal:nth-child(5):before {
    background: #b70000;
  }
  .rose:nth-child(4) .pedal:nth-child(6) {
    -webkit-animation: flower-6 10s forwards 1.35s;
            animation: flower-6 10s forwards 1.35s;
  }
  .rose:nth-child(4) .pedal:nth-child(6):before {
    background: #d80000;
  }
  .rose:nth-child(4) .pedal:nth-child(7) {
    -webkit-animation: flower-7 10s forwards 1.35s;
            animation: flower-7 10s forwards 1.35s;
  }
  .rose:nth-child(4) .pedal:nth-child(7):before {
    background: #f70000;
  }
  .pedal:nth-child(5) {
    transform: translate(-50%, 0) rotateZ(257.1428571429deg) rotateX(-70deg) rotateY(8deg) scale(0);
  }
  .rose:nth-child(5) .pedal:nth-child(1) {
    -webkit-animation: flower-1 10s forwards 0.9s;
            animation: flower-1 10s forwards 0.9s;
  }
  .rose:nth-child(5) .pedal:nth-child(1):before {
    background: #e10000;
  }
  .rose:nth-child(5) .pedal:nth-child(2) {
    -webkit-animation: flower-2 10s forwards 0.9s;
            animation: flower-2 10s forwards 0.9s;
  }
  .rose:nth-child(5) .pedal:nth-child(2):before {
    background: #bc0000;
  }
  .rose:nth-child(5) .pedal:nth-child(3) {
    -webkit-animation: flower-3 10s forwards 0.9s;
            animation: flower-3 10s forwards 0.9s;
  }
  .rose:nth-child(5) .pedal:nth-child(3):before {
    background: #fa0000;
  }
  .rose:nth-child(5) .pedal:nth-child(4) {
    -webkit-animation: flower-4 10s forwards 0.9s;
            animation: flower-4 10s forwards 0.9s;
  }
  .rose:nth-child(5) .pedal:nth-child(4):before {
    background: #e10000;
  }
  .rose:nth-child(5) .pedal:nth-child(5) {
    -webkit-animation: flower-5 10s forwards 0.9s;
            animation: flower-5 10s forwards 0.9s;
  }
  .rose:nth-child(5) .pedal:nth-child(5):before {
    background: #920000;
  }
  .rose:nth-child(5) .pedal:nth-child(6) {
    -webkit-animation: flower-6 10s forwards 0.9s;
            animation: flower-6 10s forwards 0.9s;
  }
  .rose:nth-child(5) .pedal:nth-child(6):before {
    background: #c90000;
  }
  .rose:nth-child(5) .pedal:nth-child(7) {
    -webkit-animation: flower-7 10s forwards 0.9s;
            animation: flower-7 10s forwards 0.9s;
  }
  .rose:nth-child(5) .pedal:nth-child(7):before {
    background: #d00000;
  }
  .pedal:nth-child(6) {
    transform: translate(-50%, 0) rotateZ(308.5714285714deg) rotateX(-70deg) rotateY(8deg) scale(0);
  }
  .rose:nth-child(6) .pedal:nth-child(1) {
    -webkit-animation: flower-1 10s forwards 0.45s;
            animation: flower-1 10s forwards 0.45s;
  }
  .rose:nth-child(6) .pedal:nth-child(1):before {
    background: #e10000;
  }
  .rose:nth-child(6) .pedal:nth-child(2) {
    -webkit-animation: flower-2 10s forwards 0.45s;
            animation: flower-2 10s forwards 0.45s;
  }
  .rose:nth-child(6) .pedal:nth-child(2):before {
    background: #d50000;
  }
  .rose:nth-child(6) .pedal:nth-child(3) {
    -webkit-animation: flower-3 10s forwards 0.45s;
            animation: flower-3 10s forwards 0.45s;
  }
  .rose:nth-child(6) .pedal:nth-child(3):before {
    background: #f00000;
  }
  .rose:nth-child(6) .pedal:nth-child(4) {
    -webkit-animation: flower-4 10s forwards 0.45s;
            animation: flower-4 10s forwards 0.45s;
  }
  .rose:nth-child(6) .pedal:nth-child(4):before {
    background: #910000;
  }
  .rose:nth-child(6) .pedal:nth-child(5) {
    -webkit-animation: flower-5 10s forwards 0.45s;
            animation: flower-5 10s forwards 0.45s;
  }
  .rose:nth-child(6) .pedal:nth-child(5):before {
    background: #990000;
  }
  .rose:nth-child(6) .pedal:nth-child(6) {
    -webkit-animation: flower-6 10s forwards 0.45s;
            animation: flower-6 10s forwards 0.45s;
  }
  .rose:nth-child(6) .pedal:nth-child(6):before {
    background: #a30000;
  }
  .rose:nth-child(6) .pedal:nth-child(7) {
    -webkit-animation: flower-7 10s forwards 0.45s;
            animation: flower-7 10s forwards 0.45s;
  }
  .rose:nth-child(6) .pedal:nth-child(7):before {
    background: #fd0000;
  }
  .pedal:nth-child(7) {
    transform: translate(-50%, 0) rotateZ(360deg) rotateX(-70deg) rotateY(8deg) scale(0);
  }
  .rose:nth-child(7) .pedal:nth-child(1) {
    -webkit-animation: flower-1 10s forwards 0s;
            animation: flower-1 10s forwards 0s;
  }
  .rose:nth-child(7) .pedal:nth-child(1):before {
    background: #dd0000;
  }
  .rose:nth-child(7) .pedal:nth-child(2) {
    -webkit-animation: flower-2 10s forwards 0s;
            animation: flower-2 10s forwards 0s;
  }
  .rose:nth-child(7) .pedal:nth-child(2):before {
    background: #b80000;
  }
  .rose:nth-child(7) .pedal:nth-child(3) {
    -webkit-animation: flower-3 10s forwards 0s;
            animation: flower-3 10s forwards 0s;
  }
  .rose:nth-child(7) .pedal:nth-child(3):before {
    background: #c50000;
  }
  .rose:nth-child(7) .pedal:nth-child(4) {
    -webkit-animation: flower-4 10s forwards 0s;
            animation: flower-4 10s forwards 0s;
  }
  .rose:nth-child(7) .pedal:nth-child(4):before {
    background: #c80000;
  }
  .rose:nth-child(7) .pedal:nth-child(5) {
    -webkit-animation: flower-5 10s forwards 0s;
            animation: flower-5 10s forwards 0s;
  }
  .rose:nth-child(7) .pedal:nth-child(5):before {
    background: #e90000;
  }
  .rose:nth-child(7) .pedal:nth-child(6) {
    -webkit-animation: flower-6 10s forwards 0s;
            animation: flower-6 10s forwards 0s;
  }
  .rose:nth-child(7) .pedal:nth-child(6):before {
    background: #ae0000;
  }
  .rose:nth-child(7) .pedal:nth-child(7) {
    -webkit-animation: flower-7 10s forwards 0s;
            animation: flower-7 10s forwards 0s;
  }
  .rose:nth-child(7) .pedal:nth-child(7):before {
    background: #b90000;
  }
  
  @-webkit-keyframes flower-1 {
    100% {
      transform: translate(-50%, 0) rotateZ(51.4285714286deg) rotateX(0) rotateY(8deg) scale(1);
    }
  }
  
  @keyframes flower-1 {
    100% {
      transform: translate(-50%, 0) rotateZ(51.4285714286deg) rotateX(0) rotateY(8deg) scale(1);
    }
  }
  @-webkit-keyframes flower-2 {
    100% {
      transform: translate(-50%, 0) rotateZ(102.8571428571deg) rotateX(0) rotateY(8deg) scale(1);
    }
  }
  @keyframes flower-2 {
    100% {
      transform: translate(-50%, 0) rotateZ(102.8571428571deg) rotateX(0) rotateY(8deg) scale(1);
    }
  }
  @-webkit-keyframes flower-3 {
    100% {
      transform: translate(-50%, 0) rotateZ(154.2857142857deg) rotateX(0) rotateY(8deg) scale(1);
    }
  }
  @keyframes flower-3 {
    100% {
      transform: translate(-50%, 0) rotateZ(154.2857142857deg) rotateX(0) rotateY(8deg) scale(1);
    }
  }
  @-webkit-keyframes flower-4 {
    100% {
      transform: translate(-50%, 0) rotateZ(205.7142857143deg) rotateX(0) rotateY(8deg) scale(1);
    }
  }
  @keyframes flower-4 {
    100% {
      transform: translate(-50%, 0) rotateZ(205.7142857143deg) rotateX(0) rotateY(8deg) scale(1);
    }
  }
  @-webkit-keyframes flower-5 {
    100% {
      transform: translate(-50%, 0) rotateZ(257.1428571429deg) rotateX(0) rotateY(8deg) scale(1);
    }
  }
  @keyframes flower-5 {
    100% {
      transform: translate(-50%, 0) rotateZ(257.1428571429deg) rotateX(0) rotateY(8deg) scale(1);
    }
  }
  @-webkit-keyframes flower-6 {
    100% {
      transform: translate(-50%, 0) rotateZ(308.5714285714deg) rotateX(0) rotateY(8deg) scale(1);
    }
  }
  @keyframes flower-6 {
    100% {
      transform: translate(-50%, 0) rotateZ(308.5714285714deg) rotateX(0) rotateY(8deg) scale(1);
    }
  }
  @-webkit-keyframes flower-7 {
    100% {
      transform: translate(-50%, 0) rotateZ(360deg) rotateX(0) rotateY(8deg) scale(1);
    }
  }
  @keyframes flower-7 {
    100% {
      transform: translate(-50%, 0) rotateZ(360deg) rotateX(0) rotateY(8deg) scale(1);
    }
  }
  /* ================
  // Bursts
  // ============= */
  .bubbles {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
  }
  
  .bubble {
    position: absolute;
    z-index: 200;
    border-radius: 50%;
  }
  .bubble:nth-child(1) {
    top: 33%;
    left: 61%;
    height: 19vmin;
    width: 19vmin;
    -webkit-animation: love-burst 3s infinite 0s;
            animation: love-burst 3s infinite 0s;
    box-shadow: inset 0 0 0 9.5vmin #fff;
    transform: translate(0, 1.25em) scale(0);
    transform-origin: center bottom;
  }
  .bubble:nth-child(2) {
    top: 85%;
    left: 97%;
    height: 14vmin;
    width: 14vmin;
    -webkit-animation: love-burst 3s infinite 0.15s;
            animation: love-burst 3s infinite 0.15s;
    box-shadow: inset 0 0 0 7vmin #fff;
    transform: translate(0, 0.85em) scale(0);
    transform-origin: center bottom;
  }
  .bubble:nth-child(3) {
    top: 91%;
    left: 37%;
    height: 7vmin;
    width: 7vmin;
    -webkit-animation: love-burst 3s infinite 0.3s;
            animation: love-burst 3s infinite 0.3s;
    box-shadow: inset 0 0 0 3.5vmin #fff;
    transform: translate(0, 0.55em) scale(0);
    transform-origin: center bottom;
  }
  .bubble:nth-child(4) {
    top: 49%;
    left: 82%;
    height: 9vmin;
    width: 9vmin;
    -webkit-animation: love-burst 3s infinite 0.45s;
            animation: love-burst 3s infinite 0.45s;
    box-shadow: inset 0 0 0 4.5vmin #fff;
    transform: translate(0, 1.25em) scale(0);
    transform-origin: center bottom;
  }
  .bubble:nth-child(5) {
    top: 32%;
    left: 62%;
    height: 18vmin;
    width: 18vmin;
    -webkit-animation: love-burst 3s infinite 0.6s;
            animation: love-burst 3s infinite 0.6s;
    box-shadow: inset 0 0 0 9vmin #fff;
    transform: translate(0, 0.6em) scale(0);
    transform-origin: center bottom;
  }
  .bubble:nth-child(6) {
    top: 5%;
    left: 22%;
    height: 7vmin;
    width: 7vmin;
    -webkit-animation: love-burst 3s infinite 0.75s;
            animation: love-burst 3s infinite 0.75s;
    box-shadow: inset 0 0 0 3.5vmin #fff;
    transform: translate(0, 0.55em) scale(0);
    transform-origin: center bottom;
  }
  .bubble:nth-child(7) {
    top: 81%;
    left: 72%;
    height: 10vmin;
    width: 10vmin;
    -webkit-animation: love-burst 3s infinite 0.9s;
            animation: love-burst 3s infinite 0.9s;
    box-shadow: inset 0 0 0 5vmin #fff;
    transform: translate(0, 1.2em) scale(0);
    transform-origin: center bottom;
  }
  .bubble:nth-child(8) {
    top: 58%;
    left: 39%;
    height: 9vmin;
    width: 9vmin;
    -webkit-animation: love-burst 3s infinite 1.05s;
            animation: love-burst 3s infinite 1.05s;
    box-shadow: inset 0 0 0 4.5vmin #fff;
    transform: translate(0, 0.85em) scale(0);
    transform-origin: center bottom;
  }
  .bubble:nth-child(9) {
    top: 74%;
    left: 60%;
    height: 8vmin;
    width: 8vmin;
    -webkit-animation: love-burst 3s infinite 1.2s;
            animation: love-burst 3s infinite 1.2s;
    box-shadow: inset 0 0 0 4vmin #fff;
    transform: translate(0, 0.7em) scale(0);
    transform-origin: center bottom;
  }
  .bubble:nth-child(10) {
    top: 19%;
    left: 19%;
    height: 10vmin;
    width: 10vmin;
    -webkit-animation: love-burst 3s infinite 1.35s;
            animation: love-burst 3s infinite 1.35s;
    box-shadow: inset 0 0 0 5vmin #fff;
    transform: translate(0, 0.4em) scale(0);
    transform-origin: center bottom;
  }
  .bubble:nth-child(11) {
    top: 21%;
    left: 38%;
    height: 4vmin;
    width: 4vmin;
    -webkit-animation: love-burst 3s infinite 1.5s;
            animation: love-burst 3s infinite 1.5s;
    box-shadow: inset 0 0 0 2vmin #fff;
    transform: translate(0, 0.6em) scale(0);
    transform-origin: center bottom;
  }
  .bubble:nth-child(12) {
    top: 63%;
    left: 30%;
    height: 9vmin;
    width: 9vmin;
    -webkit-animation: love-burst 3s infinite 1.65s;
            animation: love-burst 3s infinite 1.65s;
    box-shadow: inset 0 0 0 4.5vmin #fff;
    transform: translate(0, 1.05em) scale(0);
    transform-origin: center bottom;
  }
  .bubble:nth-child(13) {
    top: 10%;
    left: 14%;
    height: 18vmin;
    width: 18vmin;
    -webkit-animation: love-burst 3s infinite 1.8s;
            animation: love-burst 3s infinite 1.8s;
    box-shadow: inset 0 0 0 9vmin #fff;
    transform: translate(0, 0.45em) scale(0);
    transform-origin: center bottom;
  }
  .bubble:nth-child(14) {
    top: 26%;
    left: 69%;
    height: 5vmin;
    width: 5vmin;
    -webkit-animation: love-burst 3s infinite 1.95s;
            animation: love-burst 3s infinite 1.95s;
    box-shadow: inset 0 0 0 2.5vmin #fff;
    transform: translate(0, 0.35em) scale(0);
    transform-origin: center bottom;
  }
  .bubble:nth-child(15) {
    top: 29%;
    left: 91%;
    height: 6vmin;
    width: 6vmin;
    -webkit-animation: love-burst 3s infinite 2.1s;
            animation: love-burst 3s infinite 2.1s;
    box-shadow: inset 0 0 0 3vmin #fff;
    transform: translate(0, 0.25em) scale(0);
    transform-origin: center bottom;
  }
  .bubble:nth-child(16) {
    top: 66%;
    left: 15%;
    height: 17vmin;
    width: 17vmin;
    -webkit-animation: love-burst 3s infinite 2.25s;
            animation: love-burst 3s infinite 2.25s;
    box-shadow: inset 0 0 0 8.5vmin #fff;
    transform: translate(0, 0.95em) scale(0);
    transform-origin: center bottom;
  }
  .bubble:nth-child(17) {
    top: 41%;
    left: 71%;
    height: 13vmin;
    width: 13vmin;
    -webkit-animation: love-burst 3s infinite 2.4s;
            animation: love-burst 3s infinite 2.4s;
    box-shadow: inset 0 0 0 6.5vmin #fff;
    transform: translate(0, 0.1em) scale(0);
    transform-origin: center bottom;
  }
  .bubble:nth-child(18) {
    top: 57%;
    left: 41%;
    height: 9vmin;
    width: 9vmin;
    -webkit-animation: love-burst 3s infinite 2.55s;
            animation: love-burst 3s infinite 2.55s;
    box-shadow: inset 0 0 0 4.5vmin #fff;
    transform: translate(0, 0.5em) scale(0);
    transform-origin: center bottom;
  }
  .bubble:nth-child(19) {
    top: 95%;
    left: 47%;
    height: 19vmin;
    width: 19vmin;
    -webkit-animation: love-burst 3s infinite 2.7s;
            animation: love-burst 3s infinite 2.7s;
    box-shadow: inset 0 0 0 9.5vmin #fff;
    transform: translate(0, 0.95em) scale(0);
    transform-origin: center bottom;
  }
  .bubble:nth-child(20) {
    top: 81%;
    left: 19%;
    height: 3vmin;
    width: 3vmin;
    -webkit-animation: love-burst 3s infinite 2.85s;
            animation: love-burst 3s infinite 2.85s;
    box-shadow: inset 0 0 0 1.5vmin #fff;
    transform: translate(0, 1.1em) scale(0);
    transform-origin: center bottom;
  }
  
  @-webkit-keyframes love-burst {
    50%, 100% {
      box-shadow: inset 0 0 0 0 red;
      transform: translate(0, 0) scale(1);
    }
  }
  
  @keyframes love-burst {
    50%, 100% {
      box-shadow: inset 0 0 0 0 red;
      transform: translate(0, 0) scale(1);
    }
  }
  .heart {
    fill: #fff;
    opacity: 0;
  }
  .bubble:nth-child(1) .heart {
    -webkit-animation: love 3s forwards infinite 0s;
            animation: love 3s forwards infinite 0s;
    transform: scale(0.5) rotate(-11deg);
  }
  .bubble:nth-child(2) .heart {
    -webkit-animation: love 3s forwards infinite 0.15s;
            animation: love 3s forwards infinite 0.15s;
    transform: scale(0.5) rotate(11deg);
  }
  .bubble:nth-child(3) .heart {
    -webkit-animation: love 3s forwards infinite 0.3s;
            animation: love 3s forwards infinite 0.3s;
    transform: scale(0.5) rotate(-3deg);
  }
  .bubble:nth-child(4) .heart {
    -webkit-animation: love 3s forwards infinite 0.45s;
            animation: love 3s forwards infinite 0.45s;
    transform: scale(0.5) rotate(13deg);
  }
  .bubble:nth-child(5) .heart {
    -webkit-animation: love 3s forwards infinite 0.6s;
            animation: love 3s forwards infinite 0.6s;
    transform: scale(0.5) rotate(-35deg);
  }
  .bubble:nth-child(6) .heart {
    -webkit-animation: love 3s forwards infinite 0.75s;
            animation: love 3s forwards infinite 0.75s;
    transform: scale(0.5) rotate(36deg);
  }
  .bubble:nth-child(7) .heart {
    -webkit-animation: love 3s forwards infinite 0.9s;
            animation: love 3s forwards infinite 0.9s;
    transform: scale(0.5) rotate(-35deg);
  }
  .bubble:nth-child(8) .heart {
    -webkit-animation: love 3s forwards infinite 1.05s;
            animation: love 3s forwards infinite 1.05s;
    transform: scale(0.5) rotate(36deg);
  }
  .bubble:nth-child(9) .heart {
    -webkit-animation: love 3s forwards infinite 1.2s;
            animation: love 3s forwards infinite 1.2s;
    transform: scale(0.5) rotate(-18deg);
  }
  .bubble:nth-child(10) .heart {
    -webkit-animation: love 3s forwards infinite 1.35s;
            animation: love 3s forwards infinite 1.35s;
    transform: scale(0.5) rotate(41deg);
  }
  .bubble:nth-child(11) .heart {
    -webkit-animation: love 3s forwards infinite 1.5s;
            animation: love 3s forwards infinite 1.5s;
    transform: scale(0.5) rotate(-32deg);
  }
  .bubble:nth-child(12) .heart {
    -webkit-animation: love 3s forwards infinite 1.65s;
            animation: love 3s forwards infinite 1.65s;
    transform: scale(0.5) rotate(46deg);
  }
  .bubble:nth-child(13) .heart {
    -webkit-animation: love 3s forwards infinite 1.8s;
            animation: love 3s forwards infinite 1.8s;
    transform: scale(0.5) rotate(-29deg);
  }
  .bubble:nth-child(14) .heart {
    -webkit-animation: love 3s forwards infinite 1.95s;
            animation: love 3s forwards infinite 1.95s;
    transform: scale(0.5) rotate(3deg);
  }
  .bubble:nth-child(15) .heart {
    -webkit-animation: love 3s forwards infinite 2.1s;
            animation: love 3s forwards infinite 2.1s;
    transform: scale(0.5) rotate(-33deg);
  }
  .bubble:nth-child(16) .heart {
    -webkit-animation: love 3s forwards infinite 2.25s;
            animation: love 3s forwards infinite 2.25s;
    transform: scale(0.5) rotate(19deg);
  }
  .bubble:nth-child(17) .heart {
    -webkit-animation: love 3s forwards infinite 2.4s;
            animation: love 3s forwards infinite 2.4s;
    transform: scale(0.5) rotate(-2deg);
  }
  .bubble:nth-child(18) .heart {
    -webkit-animation: love 3s forwards infinite 2.55s;
            animation: love 3s forwards infinite 2.55s;
    transform: scale(0.5) rotate(10deg);
  }
  .bubble:nth-child(19) .heart {
    -webkit-animation: love 3s forwards infinite 2.7s;
            animation: love 3s forwards infinite 2.7s;
    transform: scale(0.5) rotate(-21deg);
  }
  .bubble:nth-child(20) .heart {
    -webkit-animation: love 3s forwards infinite 2.85s;
            animation: love 3s forwards infinite 2.85s;
    transform: scale(0.5) rotate(16deg);
  }
  
  @-webkit-keyframes love {
    50% {
      fill: red;
      opacity: 1;
    }
  }
  
  @keyframes love {
    50% {
      fill: red;
      opacity: 1;
    }
  }
  /* ================
  // Structure
  // ============= */
  html,
  body {
    height: 100%;
  }
  
  html {
    overflow: hidden;
    font-family: "Petit Formal Script";
    background: radial-gradient(ellipse at center, #051838, #0A093B 100%);
    color: #fff;
  }